.Board{
    max-width:600px;
    max-height:600px;
    position: relative;
    margin:auto;
    
    .Board-puzzle{
        width:100vw;
        height:100vw;
        max-width:600px;
        max-height:600px;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        background-color:#282c34;
        border-radius:10px;
        overflow: hidden;
        box-shadow: 0 0 20px  magenta;
    }

}