.Game{
    max-width:600px;
    max-height:600px;
    position: relative;
    margin:auto;
    
    .Game-board{
        width:100vw;
        height:100vw;
        max-width:600px;
        max-height:600px;
        margin:auto;
        display:flex;
        flex-wrap: wrap;
        background-color:#282c34;
        border-radius:10px;
        overflow: hidden;
        box-shadow: 0 0 20px  magenta;
    }
    
    .Game-cheat{
        width: 100px;
        height:30px;
        position:absolute;
        bottom:-30px;
        left:100px;
        border-radius: 0 0 10px 10px;
        border:none;
        opacity:0;
        transition: 1s all ease;

        &:hover{
            opacity:1;
        }
    }

    .win{
        margin:0;
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 125px;
        font-family: 'Galada', cursive;
        span:first-child{
            color:magenta;
            text-shadow: 0 0 20px magenta;
            animation: glow 3s infinite ease-in-out;
          }
          span:last-child{
            text-shadow: 0 0 20px cyan;
            color:cyan;
            animation: glow 2s infinite ease-in-out;
          }
    }


}